{% extends 'base.html' %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E6H7J2LV9X"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-E6H7J2LV9X');
</script>

{% block content %}

<div class="vh-100 d-flex align-items-center justify-content-center">
  <div>
    <div class="card text-bg-secondary">
      <div class="card-header">
        <h3 class="card-title mb-3 font-weight-normal text-center">{% block title %}Log in to your TaskMate 📝
          account{% endblock %}</h3>
      </div>
      <div class="card-body">
        <p class="font-weight-normal text-center">Hi again!</p>
        <hr>
        <form method="post" class="form-signin">
          <input name="username" id="username" class="form-control mb-3 mx-auto" placeholder="Username" required
            autofocus>
          <input type="password" name="password" id="password" class="form-control mx-auto" placeholder="Password"
            required>
          <hr>
          <input type="submit" value="Log In" class="btn btn-lg btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}