{% extends 'base.html' %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E6H7J2LV9X"></script>
<script>
   window.dataLayer = window.dataLayer || [];

   function gtag() {
      dataLayer.push(arguments);
   }
   gtag('js', new Date());

   gtag('config', 'G-E6H7J2LV9X');
</script>

{% block header %}
<style>
   .task-list {
      height: calc(100vh - 150px);
      overflow-y: auto;
   }

   .description {
      height: calc(100vh - 150px);
      overflow-y: auto;
   }

   /* Adjust the height of the table columns based on screen size */
   @media (max-width: 768px) {

      .task-list,
      .description {
         height: auto;
         overflow-y: initial;
      }

   }

   @media (min-width: 992px) {
      .navbar-nav.ml-auto .btn {
         margin-left: 10px;
      }
</style>

{% if g.user %}
{% if tasks %}
<div class="container-fluid">
   <div class="row bg-light">
      <div class="col-12 mt-2 mb-2">
         <div class="row">
            <div class="col-md-4">
               <h4 class="">Active Tasks</h4>
               {% if overdue|length >= 1 %}
               <a>You have {{overdue|length}} tasks overdue!</a>
               {% else %}
               <a>You have 0 tasks overdue!</a>
               {% endif %}
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-3 task-list border-top border-right shadow-sm">
         <div class="row mb-1 mt-1">
            <div class="col-4">
               <a href="{{ url_for('landing.create') }}">
                  <button type="button" class="btn-sm btn-block text-white bg-success">
                     New
                  </button>
               </a>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <ul class="list-group">
                  {% for task in tasks %}
                  <li class="list-group-item">
                     {% if task.due_date %}
                     {% if task.status == "OVERDUE" %}
                     <a class="badge mt-0 bg-danger text-light">{{ task.due_date.strftime('%d/%m/%Y') }}</a>
                     {% else %}
                     <a class="badge mt-0 bg-success text-light">{{ task.due_date.strftime('%d/%m/%Y') }}</a>
                     {% endif %}
                     {% else %}
                     <a class="badge mt-0 bg-info text-light">No due date.</a>
                     {% endif %}
                     <br />
                     <div class="btn btn-link btn-lg word-wrap"
                        onclick="document.getElementById('task-form-{{ task.id }}').submit();">
                        {{ task.title }}
                     </div>
                     <form id="task-form-{{ task.id }}" action="{{ url_for('landing.load_view', id=task.id) }}"
                        method="post">
                        <button type="submit" style="display: none;"></button>
                     </form>
                  </li>
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
      <div class="col-md-9 task-list border-top border-left shadow-sm">
         <div class="row mb-1 mt-1">
            {% for task in tasks %}
            {% if task.id == view.id %}
            <div class="col-md-2">
               <div class="post">
                  <form action="{{ url_for('landing.update_task', id=task.id) }}" method="get">
                     <input class="edit btn-sm btn-outline-primary" type="submit" value="Edit Task"
                        onclick="return confirm('Edit?');">
                     <noscript>
                        <input type="submit" value="Submit form!" />
                     </noscript>
                  </form>
               </div>
            </div>
            <div class="col-md-2">
               <div class="post">
                  <form action="{{ url_for('landing.move_done', id=task.id) }}" method="post">
                     <input class="done btn-sm btn-outline-primary" type="submit" value="Move to Done"
                        onclick="return confirm('Move to Done?');">
                     <noscript>
                        <input type="submit" value="Submit form!" />
                     </noscript>
                  </form>
               </div>
            </div>
            <div class="col-md-2">
               <div class="post">
                  <form action="{{ url_for('landing.delete', id=task.id) }}" method="post">
                     <input class="danger btn-sm btn-outline-danger" type="submit" value="Delete Task"
                        onclick="return confirm('Delete task?');">
                     <noscript>
                        <input type="submit" value="Submit form!" />
                     </noscript>
                  </form>
               </div>
            </div>
            <div class="col-md-6">
            </div>
            {% endif %}
            {% endfor %}
         </div>
         <div class="row mb-1 mt-1">
            <div class="list-group-item task-list  w-75">
               <div class="list-group-item  task-list  h-50 w-100 border-bottom shadow-sm">
                  <b>Task Description</b>
                  <hr />
                  {% for task in tasks %}
                  {% if task.id == view.id %}
                  {% if task.body %}
                  <a style="word-wrap: break-word;">{{ task.body }}</a>
                  {% else %}
                  No description set.
                  {% endif %}
                  <br />
               </div>
               <div class="list-group-item task-list h-50 w-100 border-top shadow-sm">
                  <b>Comments</b>
                  <hr />
                  <div class="post">
                     <button class="add btn btn-outline-primary"
                        onclick="toggleCommentSection('{{ tasks.index(task) }}')">Add a comment</button>
                     <form class="mt-2" action="{{ url_for('landing.add_comment', id=task.id) }}" method="post">
                        <div id="commentSection{{ tasks.index(task) }}" class="d-none">
                           <textarea class="form-control" name="comment" id="comment" value=""></textarea>
                           <input class="btn btn-success mt-2" id="save" name="save" type="submit" value="Save">
                        </div>
                        <noscript>
                           <input type="submit" value="Submit form!" />
                        </noscript>
                     </form>
                  </div>

                  {% for comment in comments %}
                  {% if comment.task_id == view.id %}
                  <hr class="comment">
                  <p>
                     Commented on: {{ comment.created.strftime("%Y-%m-%d %H:%M:%S") | convert_utc_to_timezone }}
                  </p>
                  <p>
                     {{ comment.content }}
                  </p>
                  <div class="post">
                     <form action="{{ url_for('landing.delete_comment', id=comment.id, task=task.id) }}" method="post">
                        <input class="btn btn-outline-danger" type="submit" value="Delete comment"
                           onclick="return confirm('Delete comment?');">
                        <noscript>
                           <input type="submit" value="Submit form!" />
                        </noscript>
                     </form>
                  </div>
                  {% endif %}
                  {% endfor %}
                  <br />
                  <br />
                  {% endif %}
                  {% endfor %}
               </div>
            </div>
            <div class="list-group-item task-list w-25 bg-light table-responsive">
               <div class="list-group-item h-100 w-100">
                  <b>Task</b>
                  <br />
                  <br />
                  <table class="table table-responsive-sm">
                     <tbody>
                        {% for task in tasks %}
                        {% if task.id == view.id %}
                        <tr>
                           <th scope="row" class="col-md-4">Status</th>
                           <td class="col-md-8" style="word-wrap: break-word;">{{ task.status }}</td>
                        </tr>
                        <tr>
                           <th scope="row" class="col-md-4">Due Date</th>
                           <td class="col-md-8" style="word-wrap: break-word;">
                              {% if task.due_date %}
                              {% if task.status == "OVERDUE" %}
                              <a class="badge mt-0 bg-danger text-light">{{ task.due_date.strftime('%d/%m/%Y') }}</a>
                              {% else %}
                              <a class="badge mt-0 bg-success text-light">{{ task.due_date.strftime('%d/%m/%Y') }}</a>
                              {% endif %}
                              {% else %}
                              <a class="badge mt-0 bg-info text-light">No due date.</a>
                              {% endif %}
                           </td>
                        </tr>
                        <tr>
                           <th scope="row">Created On</th>
                           <td style="word-wrap: break-word;"><span>{{ task.created.strftime("%Y-%m-%d %H:%M:%S") | convert_utc_to_timezone }}</span>
                           </td>
                        </tr>
                        <tr>
                           <th scope="row">Created By</th>
                           {% if task.author_id == g.user.id %}
                           <td style="word-wrap: break-word;">{{ g.user.username }}</td>
                           {% else %}
                           <td style="word-wrap: break-word;">{{ task.author_id }}</td>
                           {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <br />
   </div>
</div>
</div>
</div>
{% else %}
<div class="vh-100 d-flex align-items-center justify-content-center">
   <div class="w-25">
      <div class="card text-bg-secondary">
         <div class="card-header">
            <h3 class="card-title mb-3 font-weight-normal text-center">Let's get started 🎉</h3>
         </div>
         <div class="card-body">
            <p class="font-weight-normal text-center">Welcome aboard {{ g.user.username }}! Click the button below to
               create an active task.</p>
            <hr>
            <div class="d-flex justify-content-center align-items-center">
               <a href="{{ url_for('landing.create') }}">
                  <button type="button" class="btn-lg text-white bg-success">
                     Create a task
                  </button>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
{% endif %}

{% else %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Landing Page</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
   <div class="container text-center mt-5">
      <h1>Welcome to TaskMate</h1>
      <p class="lead">Taskmate is a free task management tool that helps you stay organised and on top of your work.
         Taskmate, you can create tasks, set deadlines, track progress and receive email notifications.</p>
      <h2 class="mt-5">Key Features</h2>
      <ul class="list-unstyled">
         <li>1. Create tasks with deadlines, descriptions and comments.</li>
         <li>2. Move tasks between Active and Done status.</li>
         <li>3. Receive emails regarding your tasks!</li>
         <li>4. You can host this yourself (Source Code link at the top).</li>
      </ul>
      <p class="mt-5">Your first step to getting started is the login page. Here it is so you can get accustomed to it.
      </p>
      <img src="https://github.com/michaelzdrav/taskmate/blob/main/screenshots/first-login.png?raw=true"
         class="img-fluid mt-5 mx-auto" alt="First Login" style="max-width: 70%;">
      <p class="mt-5">Your next step is to create a task. Put as much detail as it needs!</p>
      <img src="https://github.com/michaelzdrav/taskmate/blob/main/screenshots/create-task.png?raw=true"
         class="img-fluid mt-5 mx-auto" alt="Create a Task" style="max-width: 70%;">
      <br />
      <p class="mt-5">Here is what your Active Tasks page will look like once you create some new tasks.</p>
      <img src="https://github.com/michaelzdrav/taskmate/blob/main/screenshots/active-tasks.png?raw=true"
         class="img-fluid mt-5 mx-auto" alt="Done Tasks" style="max-width: 70%;">
      <br />
      <p class="mt-5">You can expect your Done Tasks page to look like this when you complete your tasks.</p>
      <img src="https://github.com/michaelzdrav/taskmate/blob/main/screenshots/done-tasks.png?raw=true"
         class="img-fluid mt-5 mx-auto" alt="Done Tasks" style="max-width: 70%;">
      <br />
      <h2 class="mt-5">Contact Me</h2>
      <p class="mt-3">Feel free to report any bugs in Github Issues, or reach out via LinkedIn.</p>
   </div>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>

</html>

{% endif %}
{% endblock %}